<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset = "UTF-8">
  <title> main page </title>
<body>
  <h1>Site URL</h1>
  <form action = "/test" method = "POST">
    <a href="../test">GET test</a> 
    
    <button>POST test</button><br>
  </form>
  <a href="../upload_image">upload_image</a>
    
  <br>
    
  <form action = "/upload_image" method = "POST" enctype = "multipart/form-data">
    <h2>이미지 업로드 하기</h2>

    <input type="file" name="uploaded_image">

    <button>이미지 업로드</button>
    
    {% if file %}
    <span>
        {{ file }}
    </span>
    {% endif %}
</form>
</body>
</head>
</html>